/*@import url('https://fonts.googleapis.com/css?family=Bitter');*/
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');*/
/*@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Poppins:500');

.punchline {
    /* Set a specific height */
    height: 70vw;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.p1 {
    /* The image used */
    background-image: url("EfficientSeullight.JPG");
}
.p2 {
    /* The image used */
    background-image: url("RobusteSeullight.JPG");
}
.p3 {
    /* The image used */
    background-image: url("UrbainSeullight.JPG");
}

* {
    background-color: #FFFFFF;
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    font-size: 1em;
    text-indent: 5em each-line;
}

body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.jumbo > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    z-index: 1;
}

header {
    z-index: 3;
}

.menu {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 10vh;
    display: block;
/*    box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.3);*/
    max-width: 1200px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.menu__list {
    display: grid;
    grid-template-columns: max-content max-content repeat(4,auto);
    align-items: flex-end;
    padding: 0;
    margin: 5px;
}

.menu__link {
    list-style-type: none;
    padding: 5px;
    font-size: 1.5rem;
    transition: all 0.4s;
}

.menu__link:hover {
    cursor: pointer;
    text-decoration: underline black;
}

.logo {
    max-height: 9vh;
    max-width: 100%;
    align-self: center;
}

.logo > img {
    display: block;
    max-width:100%;
    max-height:9vh;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}

.section, .subsection {
    padding-top: 8vh;
    min-height: 82vh;
    background-color: rgba(255, 255, 255, 0);
}

.jumbo {
    padding-top: 1vh;
    height: 86vh;
}

.punchline > img {
    display: block;
    max-width:100%;
    width: auto;
    height: auto;
}

.container {
    display: grid;
    /* grid-template-columns: 45% auto;
    grid-template-rows: 25% 75%; */
    grid-template-areas: "titre titre photo photo" 
    "texte texte photo photo";
    grid-gap: 20px;
    z-index: 2;
    min-height: 68vh;
    padding: 20px;
    align-items: center;
    max-width: 1200px;
}

.container > h1 {
    grid-area: titre;
    font-size: 2.5rem;
}

.container > img {
    grid-area: photo;
    max-width: 100%;
}

.container > a {
    grid-area: photo;
    max-width: 100%;
}


.container > p {
    grid-area: texte;
}

.order-form {
    display: grid;
    grid-gap: 10px;
    z-index: 2;
    padding: 20px;
    align-items: center;
    max-width: 1200px;
}

.order-form > input[type="submit"] {
    grid-column: span 3;
    width: 100%;
}

input {
    font-size: 1em;
    width: 100%;
    border: solid 1px #bbbbbb;
    margin-bottom: 5px;
}

input:hover {
    cursor: text;
}

input[type="submit"] {
    transition: all 0.4s ease-in-out;
    background: #3a3a3a;
    color: #DDDDDD;
    border: 2px solid white;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #222222;
    border: 2px solid #222222;
}

.liens {
    font-size: 1.6rem;
    display: block;
    min-height: 68vh;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.liens > h1 {
    font-size: 2.5rem;
}

.social {
    display: block;
    grid-template-columns: auto repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    text-align: center;
        margin: 0 auto;
}

.social h4 {
    font-size: 1.5rem;
    justify-self: center;
}

.social i {
    font-size: 3rem;
    width: 3rem;
    padding: .5rem;
    margin: 0 auto;
}

.social i:hover {
    cursor: pointer;
    text-decoration: underline black;
}

footer *{
    font-size: 0.6rem;
    background: #222222;
    color: #CCCCCC;
    text-align: center;
    }

@media (max-width: 740px) {

    .menu__list {
        display: grid;
        grid-template-columns: max-content max-content repeat(2,auto);
    }

    .menu__link {
        padding: 2px;
        font-size: 1em;
    }

    .ml_home {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .ml_clin {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .ml_demarche {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .ml_order {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .ml_liens {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .ml_contact {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .section:not(.jumbo), .subsection {
        height: auto;
    }

    .container {
        grid-template-areas: "titre"
        "photo" 
        "texte";
        height: auto;
    }
    
    input {
        width: 100%;
        font-size: 1em;
        height: 2em;
    }

    .container > h1 {
        font-size: 2rem;
    }

    .order-form {
        grid-column: span 1;
        grid-template-columns: auto;
    }
    
    .order-form > input[type="submit"]{
        grid-column: span 1;
        width: 100%;
    }

    .container > p {
        font-size: 1rem;
    }

    iframe {
        max-width: 90vw;
    }
    .jumbo {
    padding-top: 1vh;
    min-height: 50vh;
        height: 74vh;
/*    background: red;*/
} 
    .jumbo > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    z-index: 1;
}

}